:host .indent-guide {
  color: @syntax-indent-guide-color;
  opacity: @syntax-indent-guide-opacity;
}

:host .invisible-character {
  color: @syntax-invisible-character-color;
  opacity: @syntax-invisible-character-opacity;
}
